<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <title>{% block title %}Unimatch{% endblock %}</title>
</head>
<body>
    <a href="{% url 'coursefinder:coursefinder' %}">
        <img src="{% static 'images/logo.svg' %}" alt="UniMatch Logo" class="logo">
    </a>
    {% block header_actions %}{% endblock %}
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
