<nav>
    {% if user.is_authenticated %}
        {% url 'accounts:profile' as profile_url %}
        <span> Hi {% if request.path == profile_url %}{{ user.username }}{% else %}
            <a href="{{ profile_url }}">{{ user.username }}</a>{% endif %}!</span>
        <form method="post" action="{% url 'accounts:logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
    {% else %}
        <span><a href="{% url 'accounts:login' %}">Login</a></span>
        <span><a href="{% url 'accounts:signup' %}">Sign Up</a></span>
    {% endif %}
  </span>
</nav>