{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>
    <title>{% block title %}Login{% endblock %}</title>

    <div class="login-container">
        <h1 class="login-title">Unimatch</h1>
        <p class="login-blurb">Welcome back! Log in to continue.</p>
        <form method="post" class="form">
            {% csrf_token %}

            {# Non-field errors (like "username already exists" or "passwords didn't match") #}
            {% if form.non_field_errors %}
                <ul class="errorlist nonfield">
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div>
                <label for="id_username" class="form-label">USERNAME:</label>
                {{ form.username }}
            </div>
            <div>
                <label for="id_password" class="form-label">PASSWORD:</label>
                {{ form.password }}
            </div>
            <button type="submit" class="login-button">LOGIN</button>
        </form>

        <div class="extra-options">
            <p>ALREADY HAVE AN ACCOUNT? <a href="{% url 'accounts:signup' %}">SIGN UP</a></p>
            <em>OR</em>
            <p><a href="#">CONTINUE AS GUEST</a></p>
        </div>
{% endblock %}