{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">

    <div class="profile-bg">
        <!-- sidebar -->
        <div class="profile-side-menu">
            <div class="profile-pfp-big">
                <img src="{% static 'images/pfp.svg' %}" alt="Profile Icon">
            </div>
            <div class="profile-menu">
                <div class="profile-menu-item active">
                    Profile Settings
                </div>
            </div>
            <!-- delete form -->
            <form method="POST" style="width:100%;"
                  onsubmit="return confirm('Are you sure you want to delete your account? This cannot be undone!');">
                {% csrf_token %}
                <button type="submit" name="delete_account" class="delete-account-btn">
                    Delete Account
                </button>
            </form>
        </div>

        <!-- profile form -->
        <form method="POST" class="profile-form">
            {% csrf_token %}
            <div class="profile-form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-input" value="{{ user.username }}" autocomplete="off">
            </div>
            <div class="profile-form-group">
                <label for="email">Email Address</label>
                <input type="email" name="email" class="form-input" value="{{ user.email }}" autocomplete="off">
            </div>
            <div class="profile-form-group">
                <label for="password">New Password</label>
                <input type="password" name="password" class="form-input" autocomplete="off">
            </div>
            <div class="profile-form-group">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" name="confirm_password" class="form-input" autocomplete="off">
            </div>
            <button type="submit" class="save-btn" name="save_changes">Save Changes</button>
        </form>
    </div>
{% endblock %}